/* color pallette */
/* https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500 */

.default {
  background-image: linear-gradient(#00121c, #02324a);
  color: white;
  height: 100vh;
  width: 100vw;
}

/* signin.tsx */
.signin {
  /* dev */
  /* border: 2px dashed cyan; */

  height: 100vh;
  width: 100vw;
  background-image: url(../../public/polygon-scatter-haikei.svg);
  background-size: cover;
  background-position-y: bottom;
  background-position: 3%;
}