/* color pallette */
/* https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500 */

/* font */
/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"); */

.color {
  background-color: #023047;
  color: white;
  /* background-color: whitesmoke;
  color: #023047; */
  /* font-family: "Ubuntu", sans-serif; */
  height: 100vh;
  width: 100vw;
  /* font-family: "DM Sans"; */
}

.text-color {
  color: white;
}
