/* color pallette */
/* https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500 */

.default {
  /* background-color: var(--mantine-color-cyan-8); */
  /* background-color: var(--mantine-color-cyan-1); */
  background-image: linear-gradient(
    var(--mantine-color-cyan-9),
    var(--mantine-color-cyan-8)
  );
  color: white;
  height: 100vh;
  width: 100vw;
}

/* signin.tsx */
.signin {
  /* dev */
  /* border: 2px dashed cyan; */

  height: 100vh;
  width: 100vw;
  background-image: url(../../public/polygon-scatter-haikei.svg);
  background-size: cover;
  background-position-y: bottom;
  background-position: 3%;

  /* margin: auto; */

  /* flex */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
