.btn {
  width: 47%;
  padding: 0;
  margin: 0;

  background-color: var(--clr-rose-reg);
}

.btn:hover {
  background-color: var(--clr-rose-lightish);
}

.flexend {
  /* border: 1px solid palegoldenrod; */
  display: flex;
  justify-content: flex-end;
}