.container {
  /* dev */
  /* border: 2px dashed cyan; */

  margin: auto;
  min-width: 17em;
  max-width: 30em;
  height: 29em;
  /* height: 68%; */
  padding: 0 0.5em;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: space-between; */
  gap: 0.2em;
}

.header {
  width: 100%;
  text-align: start;
  font-style: italic;
  color: #607D8B;
}

@media (min-width: 40em) {
  .header {
    margin-bottom: 1em;
    text-align: end;
    font-size: var(--fs-600);
  }
}