.container {
  /* dev */
  /* border: 2px dashed cyan; */

  margin: auto;
  min-width: 17em;
  max-width: 30em;
  height: 29.5em;
  /* height: 68%; */
  padding: 0 0.5em;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: space-between; */
  gap: 0.2em;
}

.header {
  /* dev */
  /* border: 1px solid cyan; */

  /* flex */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  margin: auto;
  max-width: 45em;
  padding: 1em 1em 0.3em;
}
