.container {
  /* dev */
  /* border: 2px dashed cyan; */

  margin: auto;
  min-width: 17em;
  max-width: 24em;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2em;
}

.clockui {
  border: 3px solid rgba(181, 229, 253, 0.3);
  border-radius: 50%;
  margin: 0 auto 1em;

  height: 20em;
  width: 20em;
  padding: 1em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  text-align: center;
}

.clock {
  font-size: 6rem;
}

.text {
  line-height: .9;
}

.title {
  font-size: 3rem;
}

.btn {
  width: 6em;
  padding: 0;
  margin: 0;

  background-color: var(--clr-rose-reg);
  font-size: medium;
}

.btn:hover {
  background-color: var(--clr-rose-lightish);
}

.btn:disabled {
  background-color: var(--clr-grey-reg);
  color: var(--clr-grey-light);
}

.newtimer {
  color: whitesmoke;
  color: var(--clr-rose-light);
  border-color: var(--clr-rose-reg);
}

.draggable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: .5rem 1rem;
  background-color: var(--clr-blue-darkish);
}

.draggable button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modaltime {
  display: flex;
  gap: 20px;
  margin-bottom: 1em;
}

@media (max-width: 40em) {
  .container {
    height: 29em;
    padding: 2em 0.5em 0;
  }

  .clockui {
    height: 17em;
    width: 17em;
    padding: 1em 0;
  }

  .clock {
    font-size: 4.5rem;
  }
}