.container {
  /* border: 1px solid yellow; */

  margin: auto;
  min-width: 17em;
  max-width: 30em;
  padding: 0 0.5em;
}

.container>main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-msg>.msg {
  font-size: .9rem;
  padding: 5%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-hdr {
  /* border: 1px solid dodgerblue; */
  width: 100%;
  text-align: start;
  font-style: italic;
  color: #607D8B;
}

.list, .view {
  width: 100%;
}

.hdr {
  display: flex;
  justify-content: space-between;
  color: #69B1D3;
  font-size: var(--fs-400);
}

.exer-list {
  padding: 0 .25em;
}

.empty-exers {
  color: #69B1D3;
  font-size: var(--fs-600);
}

.view {
  animation: transitionContent 500ms;
}

.scroll {
  /* border: 2px solid red; */

  width: 100%;
  height: max(26em, 60vh);
  padding: 0 .25em;
}

.row {
  font-size: 1rem;
}

.row:hover {
  background-color: #11547a;
}

.row>button {
  width: 100%;
  display: flex;
  justify-content: space-between;

  background: transparent;
  color: white;
  cursor: pointer;
  border: 0;

  padding: 10px 5px;
  /* font-style: italic; */
}

.modifyBtns {
  /* border: 1px solid slateblue; */
  display: flex;
  justify-content: space-between;
}

.btns {
  display: flex;
}

.btns>button {
  padding: 0 10px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.view-exers {
  font-size: 16px;
}

@keyframes transitionContent {
  from {
    opacity: 0;
    transform: translateX(-10deg);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 40em) {
  .list-hdr {
    margin-bottom: 1em;
    text-align: end;
    font-size: var(--fs-600);
  }
}