.container {
  /* border: 1px solid yellow; */

  margin: auto;
  max-width: 30em;
  padding: 0 0.5em;
}

.container>main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll {
  border: 2px solid red;

  width: 100%;
  height: max(28em, 65vh);
}

.row>button {
  width: 100%;
  display: flex;
  justify-content: space-between;

  background: transparent;
  color: white;
  cursor: pointer;
  border: 0;
  /* border-top: 2px solid whitesmoke; */
}

.modifyBtns {
  /* border: 1px solid slateblue; */
  display: flex;
  justify-content: space-between;
}